:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --bg-color-button: #188ce8;
  --background-team-buttons: #f5f4fa;
  --text-black: #000000;
  --mail-tel-color: rgba(255, 255, 255, 0.6);
  --background-img-projekt: #eeeeee;
  --fil-icon-color: #afb1b8;
  --grid-item: 4;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--title-text-color);
  background-color: var(--white-color);
  letter-spacing: 0, 03em;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-section {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0, 02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.list {
  list-style: none;
}
.anker {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(35.96 / 26);
  color: var(--text-black);
  text-decoration: none;
  color: var(--accent-color);
  margin-right: 93px;
}
.logo-header {
  color: var(--text-black);
}
.navigation-link-list {
  display: flex;
}
.navigation-link {
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  line-height: calc(16 / 14);
  color: var(--title-text-color);
  cursor: pointer;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-link-list :not(:last-child) {
  margin-right: 50px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.current:visited {
  color: var(--accent-color);
}
.logo-footer {
  color: var(--white-color);
}
.icon-header {
  margin-right: 10px;
  fill: var(--primary-text-color);
}
.header-tel:hover .icon-header,
.header-tel:focus .icon-header {
  fill: var(--accent-color);
}
.header-mail:hover .icon-header,
.header-mail:focus .icon-header {
  fill: var(--accent-color);
}
/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
}
.section-icon-contacts {
  fill: var(--primary-text-color);
  margin-right: 10px;
}
.section-icon-contacts:hover,
.section-icon-contacts:focus {
  fill: var(--accent-color);
}

.contacts :not(:last-child) {
  margin-right: 50px;
}
.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  text-align: left;
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

.container-hero {
  text-align: center;
}

.hero {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/sek-header.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  letter-spacing: 0, 06em;
  padding-bottom: 30px;
  width: 696px;
  margin: 0 auto;
}

.btn-service {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  letter-spacing: 0, 06em;
  text-align: center;
  width: 216px;
  padding: 10px 32px 10px 32px;
  cursor: pointer;
}
.btn-service:active,
.btn-service:focus,
.btn-service:hover {
  background-color: var(--bg-color-button);
}
.list-works {
  display: flex;
}

.works-kard :not(:last-child) {
  width: 270px;
  margin-right: 50px;
}
.works-tytel {
  line-height: calc(16 / 14);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.works-post {
  line-height: calc(24 / 14);
  color: var(--primary-text-color);
  margin: 0;
}

.section-two-icon {
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.section-two-icon:is(:hover, :focus) {
  fill: var(--bg-color-button);
}

.doing-tytle {
  font-weight: 700;
  line-height: calc(42 / 36);
  color: var(--title-text-color);
  text-align: center;
  text-transform: none;
  letter-spacing: 0, 03em;
  font-size: 36px;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.works-kard {
  margin-right: 30px;
}
.we-doing {
  padding-top: 0;
}
.we-doing-container {
  text-align: center;
}
.we-doing-img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*TEAM*/
.section-team {
  background-color: var(--background-team-buttons);
}
.container-team {
  text-align: center;
}
.team-tytle {
  font-weight: 700;
  line-height: calc(42 / 36);
  color: var(--title-text-color);
  text-align: center;
  letter-spacing: 0, 03em;
  font-size: 36px;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-bottom: 10px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 50px;
}
.team-img {
  background-color: var(--white-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-head {
  padding-top: 30px;
  padding-bottom: 30px;
}

.position {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--primary-text-color);
  text-align: center;
}
/*hiden*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.section-four-soc-item {
  width: 40px;
  height: 40px;
}
.section-four-soc-link {
  width: 100%;
  height: 100%;
  color: var(--fil-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.section-four-icon {
  fill: var(--fil-icon-color);
}
.section-four-icon:is(:hover, :focus) {
  fill: var(--white-color);
}
.section-four-soc-link:is(:hover, :focus) {
  background-color: var(--accent-color);
  color: var(--white-color);
}
/* ------------CUSTOMERS */
.customers {
  width: 1158px;
  padding: 120px 15px;
  background: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--fil-icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers-icon {
  fill: var(--fil-icon-color);
}
.customers-link:is(:hover, :focus) {
  border-color: var(--accent-color);
}
.customers-link:is(:hover, :focus) .customers-icon {
  fill: var(--accent-color);
}
/* footer */

.last-section {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-style: normal;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--white-color);
  text-decoration: none;
}
.logo-in-footer {
  padding-bottom: 20px;
  display: flex;
}
.address-list .map {
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--white-color);
  text-decoration: none;
}

.address-list .mail-tel {
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--mail-tel-color);
  text-decoration: none;
}

.address-list .mail-tel:hover,
.address-list .mail-tel:focus {
  color: var(--accent-color);
}
.footer-flex {
  display: flex;
  align-items: baseline;
}

.social {
  margin-left: 60px;
  width: 206px;
  height: 80px;
}
.social-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.social-tittle {
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-bottom: 20px;
}
.social-list {
  display: flex;
  gap: 10px;
}
.social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.social-icon {
  fill: var(--white-color);
}
.social-link:hover {
  background-color: var(--accent-color);
}
/* Портфоліо */

/* кнопки-фільтри */
.buttons-list {
  display: flex;
  justify-content: center;
}

.buttons-list :not(:last-child) {
  margin-right: 8px;
}
.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  border: none;
  color: var(--title-text-color);
  background-color: var(--background-team-buttons);
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0, 03em;
  border-radius: 4px;
  border: 0px;
  padding: 6px 27px 6px 27px;
  text-align: center;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* active button */

.active {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.buttons-list {
  margin-bottom: 50px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0px;
  background-color: var(--white-color);
}

.project-title {
  font-size: 16px;
  line-height: calc(36 / 18);
  letter-spacing: 0, 03em;
  color: var(--primary-text-color);
}
.project-list-img {
  width: 370px;
}
.project-example {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(30 / 16);
  color: var(--title-text-color);
  letter-spacing: 0, 06em;
}
.grey-border-box {
  border-left: 1px solid var(--background-img-projekt);
  border-right: 1px solid var(--background-img-projekt);
  border-bottom: 1px solid var(--background-img-projekt);
  padding: 24px 20px;
}
