:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --bg-color-button: #188ce8;
  --background-team-buttons: #f5f4fa;
  --text-black: #000000;
  --mail-tel-color: rgba(255, 255, 255, 0.6);
  --background-img-projekt: #EEEEEE
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--title-text-color);
  background-color: var(--white-color);
  letter-spacing: 0, 03em;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-container {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(35.96 / 26);
  color: var(--text-black);
  text-decoration: none;
  color: var(--accent-color);
  margin-right: 93px;
}
.logo-header {
  color: var(--text-black);
}
.navigation-link-list {
  display: flex;
}
.navigation-link {
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  line-height: calc(16 / 14);
  color: var(--title-text-color);
  cursor: pointer;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-link-list :not(:last-child)  {
  margin-right: 50px;
}

.navigation-link:hover {
  color: var(--accent-color);
}
.current:visited {
  color: var(--accent-color);
}
.logo-footer {
  color: var(--white-color);
}
/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts :not(:last-child)  {
  margin-right: 50px;
}
.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  text-align: left;
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

.container-hero {
  text-align: center;

}

.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  letter-spacing: 0, 06em;
  padding-bottom: 30px;
}

.btn-service {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  letter-spacing: 0, 06em;
}

.list-works {
    display: flex;

}
.list-works :not(:last-child)  {
  margin-right: 50px;
}
.works-kard {
  width: 270px;

}
.works-tytel {
  line-height: calc(16 / 14);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.works-post {
  line-height: calc(24 / 14);
  color: var(--primary-text-color);
  margin: 0;
}
.doing-tytle {
  font-weight: 700;
  line-height: calc(42 / 36);
  color: var(--title-text-color);
  text-align: center;
  text-transform: uppercase;
}
.work-list {
  display: flex;
}
.work-list :not(:last-child)  {
  margin-right: 50px;
}
.we-doing-container {
  text-align: center;
}
.we-doing-img {
  display: block;
  margin-top: 50px;
}
/*TEAM*/
.section-team {
  background-color: var(--background-team-buttons);
}
.container-team {
  text-align: center;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
  background-color: var(--white-color);
  margin-top: 50px;
}

.position {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 30px;
}
/*hiden*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* footer */

.footer {
  background-color: var(--background-color);
}

.logo-footer {
  font-style: normal;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--white-color);
  text-decoration: none;
}

.address-list .map {
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--white-color);
  text-decoration: none;
}

.address-list .mail-tel {
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--mail-tel-color);
  text-decoration: none;
}

.address-list .mail-tel:hover,
.address-list .mail-tel:focus {
  color: var(--accent-color);
}
/* Портфоліо */

/* кнопки-фільтри */
.buttons-list > li {
  margin-right: 8px;
}
.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  border: none;
  color: var(--title-text-color);
  background-color: var(--background-team-buttons);
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0, 03em;
  border-radius: 4px;
  border: 0px;
  padding: 6px 27px 6px 27px;
  text-align: center;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* active button */

.active {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
  background-color: var(--white-color);
}
.projects > li{
    
  margin-bottom: 30px;
}
.project-title {
  font-size: 16px;
  line-height: calc(36 / 18);
  letter-spacing: 0, 06em;
  color: var(--primary-text-color);
}

.project-example {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(30 / 16);
  color: var(--title-text-color);
  letter-spacing: 0, 03em;
}
.grey-border-box {
  border-left: 1px solid var(--background-img-projekt);
  border-right: 1px solid var(--background-img-projekt);
  border-bottom: 1px solid var(--background-img-projekt);
  padding: 24px 20px;}